
<footer>
  <div class="row">
    <div class="column col-xs-12 mb2">
      <div class="FooterLine"></div>
    </div>
    <div class="column col-xs-12 col-md-6 pt5 mb2">
      <p>
        <a href="http://iwantrest.com">Back to home</a>
      </p>
    </div>
    <div class="column col-xs-12 col-md-5 col-md-offset-1 pt5 mb2">
      <p>
        &copy2017 REST
      </p>
    </div>
  <div>
</footer>

</body>

</html>
