<% include header.ejs %>

<div class="row">
  <div class="column col-xs-12 col-md-5">
    <form action="/thanks" method="POST" id="payment-form" name="payment-form">
      <div class="FormErrorsCont">
        <div class="FormErrors"></div>
      </div>
      <div class="FormItem">
        <div class="GiftAmount">
          <label class="InputLabel">Amount</label>
          <input class="InputGiftAmount" type="tel" name="stripeAmount">
          <input type="hidden" name="productId" value="prod_A06J6m2sZjfgXq">
        </div>
      </div>
      <div class="FormItem mb2 mt3">
        <label class="InputLabel">Name</label>
        <input class="InputText" type="text" data-stripe="name" name="customer_name" autocomplete="name">
      </div>
      <div class="FormItem mb2 mt3">
        <label class="InputLabel">Email</label>
        <input class="InputText" type="email" name="stripeEmail" autocomplete="email">
      </div>
      <div class="FormItem mb2 mt3">
        <label class="InputLabel">Card Number</label>
        <input class="InputText" type="tel" data-stripe="number" id="cc" name="ccdigits" maxlength="16" autocomplete="cc-number">
      </div>
      <div class="FormItem mb2 mt3 Expiration Month">
        <label class="InputLabel">Exp. (MM)</label>
        <input class="InputText" type="tel" size="2" data-stripe="exp_month" name="ccexpm" id="ccm" maxlength="2" autocomplete="cc-exp-month">
      </div>
      <div class="FormItem mb2 mt3 Expiration">
        <label class="InputLabel">Exp. (YY)</label>
        <input class="InputText" type="tel" size="2" data-stripe="exp_year" name="ccexpy" id="ccy" maxlength="2" autocomplete="cc-exp-year">
      </div>
      <div class="FormItem mb2 mt3 Expiration">
        <label class="InputLabel">Security Code</label>
        <input class="InputText" type="tel" size="4" data-stripe="cvc" id="cvv" name="ccsec" maxlength="4" autocomplete="cc-csc">
      </div>
      <button class="SubmitButton mt4">
        <div class="CompleteCheck"></div>
        <div class="LoadingSpinnerCont">
          <div class="LoadingSpinner"></div>
        </div>
        <span class="Purchase">Submit</span>
        <span class="Loading">Loading</span>
        <span class="Complete">Complete</span>
      </button
    </form>
    <p class="mt4">
      Proteccted with <a href="https://en.wikipedia.org/wiki/SSL" target="_blank">SSL</a>
      and <a href="https://stripe.com/" target="_blank">Stripe</a>.
    </p>
  </div>
</div>

<<<<<<< HEAD

<script type="text/javascript" src="jquery.validate.js"></script>
<script type="text/javascript" src="giftcard.js"></script>
=======
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="master.js"></script>
>>>>>>> ef1d00574afa08db6642adf43b10e23ad3bcaa2f

<% include footer.ejs %>
