<!DOCTYPE html>
<html>
<head>
  <title>Canlis | Thanks!</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="master.css" rel="stylesheet">
  <link href="giftcard.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="_favicon/favicon-16x16.png">
  <link rel="manifest" href="_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="_favicon/ms-icon-144x144.png">
</head>
<body>

<div class="row">
  <div class="column col-xs-12 col-md-4 col-md-offset-4 mt10 mb10">
    <h1 class="Display1 mt10 mb10">Thanks!</h2>
    <p><a href="http://localhost:7000">Back</a></p>
  </div>
</div>


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="jquery.validate.js"></script>
  <script src="https://widgets.resy.com/embed.js"></script>
  <script type="text/javascript" src="https://canlis.com/assets/master.js"></script>
  <script type="text/javascript" src="giftcard.js"></script>
</body>
</html>
