<% include header.ejs %>

<section>
  <div class="row">
    <div class="column col-xs-12 col-md-4 mt6">
      <h2 class="mb3">Thank you for your donation!</h2>
      <p>If you have any questions, please send us an email at <a href="mailto:info@iwantrest.com">info@iwantrest.com</a>.</p>
    </div>
  </div>
</section>

<% include footer.ejs %>
