<!DOCTYPE html>
<html>
<head>
  <title>Canlis | Thanks!</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="master.css" rel="stylesheet">
  <link href="giftcard.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="_favicon/favicon-16x16.png">
  <link rel="manifest" href="_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="_favicon/ms-icon-144x144.png">
</head>
<body>
<a href="https://canlis.com/" class="Logo mb10 Caption NoLine">Logo</a>
<div class="GlobalNav Unselectable ShowDesktop">
  <!-- <div class="GlobalNavToggle Caption Unselectable">Menu +</div> -->
  <ul class="Open">
    <li class="Caption"><a class="NavLink ResLink" id="link-header-res-desktop">Reservations</a></li>
    <li class="Caption">—</li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/menu">Menu</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/drinks">Wine & Spirits</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/events">Private Events</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/people">People</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/story">Story</a></li>
  </ul>
  <ul class="SocialNav">
    <!-- <li><a href="http://twitter.com/canlis" target="_blank" class="Twitter NoLine">Twitter</a></li> -->
    <li><a href="http://instagram.com/canlisrestaurant" target="_blank" class="Instagram NoLine"></a></li>
  </ul>
</div>
<div class="NavHamburger"></div>
<div class="GlobalNav Unselectable ShowMobile">
  <ul class="Open">
    <li class="Caption"><a class="NavLink ResLink" id="link-header-res-desktop">Reservations</a></li>
    <li class="Caption">—</li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/menu">Menu</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/drinks">Wine & Spirits</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/events">Private Events</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/people">People</a></li>
    <li class="Caption"><a class="NavLink" href="https://canlis.com/story">Story</a></li>
  </ul>
  <ul class="SocialNav">
    <!-- <li><a href="http://twitter.com/canlis" target="_blank" class="Twitter NoLine">Twitter</a></li> -->
    <li><a href="http://instagram.com/canlisrestaurant" target="_blank" class="Instagram NoLine"></a></li>
  </ul>
</div>
<div class="row">
  <div class="column col-xs-12 col-md-4 col-md-offset-4 mt10 mb10">
    <h1 class="Display1 mt10 mb10">Thanks!</h2>
    <p>Your gift card will be shipped or ready for pickup in 1-2 business days. If you have any questions, feel free to call us at <a class="NoLine" href="tel:+12062833313">(206) 283-3313</a>.</p>
    <p><a href="https://canlis.com">Back to Canlis.com</a></p>
  </div>
</div>

<footer class="GlobalFooter">
  <div class="FooterLine"></div>
  <div class="row">
    <div class="column col-xs-12 col-md-3">
      <p class="Caption mb0 d-mb2">RESERVATIONS:</p>
      <p class="Caption">CALL US AT<BR><a class="NoLine" href="tel:+12062833313">(206) 283-3313</a><br>OR ONLINE <a class="ResLink">HERE</a>.</p>
    </div>
    <div class="column col-xs-12 col-md-3">
      <p class="Caption mb0 d-mb2">ADDRESS:</p>
      <p class="Caption mb0 d-mb5"><a class="NoLine" href="https://www.google.com/maps/dir/''/Canlis+Seattle,+WA+98109/@47.6430677,-122.4168205,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x54901505379f7045:0xd1009d4ff183b6c6!2m2!1d-122.3467808!2d47.643089">2576 Aurora Ave. N<br>
Seattle, WA <br>98109</a></p>
    </div>
    <div class="column col-xs-12 col-md-2">
      <p class="Caption mb0 d-mb2">HOURS:</p>
      <p class="Caption">MONDAY - SATURDAY<br>5:30 - 10PM</p>
    </div>
    <div class="column col-xs-12 col-md-4">
      <p class="mb0 d-mb5"><span class="Caption">Attire:  </span>There’s a time and place to look casual. Tonight you’re going big, so dress the part. We are a dressy, fine dining restaurant and we ask that gentlemen wear a suit or sport coat if possible. No casual or athletic attire.</p>
    </div>
    <div class="column col-xs-12 col-md-6">
       <p class="Caption mt3"><a href="https://giftcards.canlis.com" class="NoLine">Gift Cards</a> / <!-- <a href="awards" class="NoLine">Awards</a> / --> <a href="https://canlis.com/careers" class="NoLine">Careers</a> / &copy 2017 Canlis</p>
    </div>
    <div class="column col-xs-12 col-md-6">
      <a href="https://www.relaischateaux.com/" target="_blank" class="RelaisLogo NoLine mt3">
        <img src="https://canlis.com/assets/_img/relais.svg">
      </a>
    </div>
  </div>
</footer>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="jquery.validate.js"></script>
  <script src="https://widgets.resy.com/embed.js"></script>
  <script type="text/javascript" src="https://canlis.com/assets/master.js"></script>
  <script type="text/javascript" src="giftcard.js"></script>
</body>
</html>
