input {
  color: color-text;
  font-family: typeface-primary
}

input:focus {
  border-color: color-text;
  color: color-text
  outline: none;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: color-text;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 1000s ease-in-out 0s !important;
  background: color-background !important;
  background-color: color-background !important;
}

input.InputText {
  width: 100%;
  font-size: 1rem;
  display: block;
  border: 0;
  border-bottom: 1px solid color-text;
  border-radius: 0;
  padding: 15px 0 5px 0;
  background: transparent;
  transition: all 200ms ease-out;
  outline: none;
  height: 45px;
  z-index: 10;
  position: relative;
}

.FormItem {
  display: inline-block;
  position: relative;
  width: 100%;
}

.FormItem label.InputLabel {
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: typeface-secondary;
  color:  color-text;
  transition: .1s all linear;
  cursor: text;
  z-index: 10;
}

label.error {
  position: relative;
  font-family: typeface-secondary;
  color: #ED5654;
  top: 10px;
  line-height: 120%;
  margin-bottom: 15px;
  display: block;
}
.FormItem.active input {
  padding-left: 0px;
}

.FormItem.active label.InputLabel {
  top: -10px;
}
.FormItem.Expiration {
  width: calc(50% - 10px);
}
.FormItem.Expiration.Month {
  margin-right: 15px;
}

input[type=radio]:checked ~ .check {
  border: 10px solid color-text;
}
input[type=radio]:checked ~ .check::before{
  background: color-text;
}
input[type=radio]:checked ~ label{
  color: color-text;
}
.FormItem .StateLabel {
  top: 10;
  position: absolute;
  opacity: 0;
  font-size: 11px;
  transition: all 200ms ease-out;
}
.FormItem .StateLabel.Active {
  opacity: .5;
  top: 0;
}
.StateSelector {
  height: 45px;
  display: block;
}
.StateSelector select{
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  -webkit-appearance:none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid color-text;
  position: relative;
  top: 20px;
  outline: none;
}
.StateSelector select.Default {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "ApercuMono", Andale Mono, monospaced;
}
.StateSelector select.Active {
  opacity: 1;
  height: auto;
}
.StateSelector label.error {
  top: 30px;
}

// Form

.GiftAmount {
  position: relative;
}

.FormItem .GiftAmount label.InputLabel {
  top: -30px;
}

.GiftAmount:before {
  content: "$";
  position: absolute;
  top: 0;
  left: -3px;
  font-size: 45px;
  line-height: 125%;
}

@media (min-width: 62em) {
  .GiftAmount:before {
    font-size: 72px;
  }
}

.InputGiftAmount, .FormItem.active .InputGiftAmount {
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 1px solid color-text;
  border-radius: 0;
  background-color: transparent;
  padding: 0 0 0 25px;
  font-size: 45px;
}

@media (min-width: 1024px) {
  .InputGiftAmount, .FormItem.active .InputGiftAmount {
    padding-left: 45px;
    font-size: 72px;
  }
}

// Errors

.FormErrorsCont {
  height: 0px;
  transition: all 200ms ease-out;
}
.FormErrorsCont.Active {
  height: 90px;
}
.FormErrors {
  opacity: 0;
  background: white;
  border: 1px solid #ED5654;
  padding: 16px;
  color: #ED5654;
  border-radius: 4px;
  box-shadow: 0px 0px 18px 0px rgba(255,255,255,1);
  transition: all 200ms ease-out;
  transition-delay: 100ms;
  transform: translateY(10px);
}
.FormErrors.Active{
  transform: translateY(0px);
  opacity: 1;
}



// Submit button

.SubmitButton {
  font-family: typeface-secondary
  background: color-background;
  padding: 20px 50px;
  border: 1px solid color-text;
  color: color-text;
  display: block;
  text-align: center;
  cursor: pointer
  position: relative;
  outline: none;
  font-size: 1rem;
  transition: all 100ms ease-out;
  transform: scale(1);
  height: 60px;
  width: 215px;
  -webkit-box-shadow: 5px 5px 0px 0px color-text;
  box-shadow: 5px 5px 0px 0px color-text;
}
.SubmitButton:hover {
  -webkit-box-shadow: 0px 0px 0px 0px color-text, inset 5px 5px 0px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 0px 0px color-text, inset 5px 5px 0px 0px rgba(0,0,0,1);
}
.SubmitButton span {
  position: relative;
  left: 0;
  transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  position: absolute;
  left: 80px;
  top: 20px;
  text-align: center;
}
.SubmitButton span.Loading {
  top: 60px;
  opacity: 0;
  color: color-background
}
.SubmitButton span.Complete {
  top: 60px;
  opacity: 0;
  color: color-background
}
.SubmitButton.Loading span.Purchase {
  top: -30px;
  opacity: 0;
}
.SubmitButton.Loading span.Loading {
  top: 20px;
  opacity: 1;
}
.SubmitButton.Complete span.Purchase, .SubmitButton.Complete span.Loading {
  top: -30px;
  opacity: 0;
}
.SubmitButton.Complete span.Complete {
  top: 20px;
  opacity: 1;
}
.SubmitButton.Complete, .SubmitButton.Loading {
  background: color-text;
  -webkit-box-shadow: 0px 0px 0px 0px color-text, inset 5px 5px 0px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 0px 0px color-text, inset 5px 5px 0px 0px rgba(0,0,0,1);
}
.CompleteCheck {
  height: 20px;
  width: 20px;
  transform: scale(.1);
  position: absolute;
  top: 20px;
  left: 23px;
  background: url(/_img/check.svg);
  background-size: cover;
  transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-delay: 0ms;
  opacity: 0;
}
.SubmitButton.Complete .CompleteCheck {
  opacity: 1;
  transform: scale(1);
}
.LoadingSpinnerCont {
  opacity: 1;
  height: 20px;
  width: 20px;
  transform: scale(.1);
  position: absolute;
  top: 20px;
  left: 23px;
  transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-delay: 0ms;
  opacity: 0;
}
.SubmitButton.Loading .LoadingSpinnerCont {
  opacity: 1;
  transform: scale(1);
}
.SubmitButton.Complete .LoadingSpinnerCont {
  opacity: 0;
  transform: scale(.5);
}
.LoadingSpinner {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  transition: all 200ms ease-out;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
@keyframes rotate-forever {
  0%    { transform: rotate(0deg) scale(1)}
  100%  { transform: rotate(360deg) scale(1) }
}
