.m0 { 
	margin: 0rem;
}

.m1 { 
	margin: 0.4rem;
}

.m2 { 
	margin: 0.8rem;
}

.m3 { 
	margin: 1.6rem;
}

.m4 { 
	margin: 2.4rem;
}

.m5 { 
	margin: 3.2rem;
}

.m6 { 
	margin: 4rem;
}

.m7 { 
	margin: 4.8rem;
}

.m8 { 
	margin: 5.6rem;
}

.m9 { 
	margin: 6.4rem;
}

.m10 { 
	margin: 7.2rem;
}

.mt0 { 
	margin-top: 0rem;
} 

.mt1 { 
	margin-top: 0.4rem;
} 

.mt2 { 
	margin-top: 0.8rem;
} 

.mt3 { 
	margin-top: 1.6rem;
} 

.mt4 { 
	margin-top: 2.4rem;
} 

.mt5 { 
	margin-top: 3.2rem;
} 

.mt6 { 
	margin-top: 4rem;
} 

.mt7 { 
	margin-top: 4.8rem;
} 

.mt8 { 
	margin-top: 5.6rem;
} 

.mt9 { 
	margin-top: 6.4rem;
} 

.mt10 { 
	margin-top: 7.2rem;
} 

.mr0 { 
	margin-right: 0rem;
} 

.mr1 { 
	margin-right: 0.4rem;
} 

.mr2 { 
	margin-right: 0.8rem;
} 

.mr3 { 
	margin-right: 1.6rem;
} 

.mr4 { 
	margin-right: 2.4rem;
} 

.mr5 { 
	margin-right: 3.2rem;
} 

.mr6 { 
	margin-right: 4rem;
} 

.mr7 { 
	margin-right: 4.8rem;
} 

.mr8 { 
	margin-right: 5.6rem;
} 

.mr9 { 
	margin-right: 6.4rem;
} 

.mr10 { 
	margin-right: 7.2rem;
} 

.mb0 { 
	margin-bottom: 0rem;
} 

.mb1 { 
	margin-bottom: 0.4rem;
} 

.mb2 { 
	margin-bottom: 0.8rem;
} 

.mb3 { 
	margin-bottom: 1.6rem;
} 

.mb4 { 
	margin-bottom: 2.4rem;
} 

.mb5 { 
	margin-bottom: 3.2rem;
} 

.mb6 { 
	margin-bottom: 4rem;
} 

.mb7 { 
	margin-bottom: 4.8rem;
} 

.mb8 { 
	margin-bottom: 5.6rem;
} 

.mb9 { 
	margin-bottom: 6.4rem;
} 

.mb10 { 
	margin-bottom: 7.2rem;
} 

.ml0 { 
	margin-left: 0rem;
} 

.ml1 { 
	margin-left: 0.4rem;
} 

.ml2 { 
	margin-left: 0.8rem;
} 

.ml3 { 
	margin-left: 1.6rem;
} 

.ml4 { 
	margin-left: 2.4rem;
} 

.ml5 { 
	margin-left: 3.2rem;
} 

.ml6 { 
	margin-left: 4rem;
} 

.ml7 { 
	margin-left: 4.8rem;
} 

.ml8 { 
	margin-left: 5.6rem;
} 

.ml9 { 
	margin-left: 6.4rem;
} 

.ml10 { 
	margin-left: 7.2rem;
} 

.p0 { 
	padding: 0rem;
}

.p1 { 
	padding: 0.4rem;
}

.p2 { 
	padding: 0.8rem;
}

.p3 { 
	padding: 1.6rem;
}

.p4 { 
	padding: 2.4rem;
}

.p5 { 
	padding: 3.2rem;
}

.p6 { 
	padding: 4rem;
}

.p7 { 
	padding: 4.8rem;
}

.p8 { 
	padding: 5.6rem;
}

.p9 { 
	padding: 6.4rem;
}

.p10 { 
	padding: 7.2rem;
}

.pt0 { 
	padding-top: 0rem;
} 

.pt1 { 
	padding-top: 0.4rem;
} 

.pt2 { 
	padding-top: 0.8rem;
} 

.pt3 { 
	padding-top: 1.6rem;
} 

.pt4 { 
	padding-top: 2.4rem;
} 

.pt5 { 
	padding-top: 3.2rem;
} 

.pt6 { 
	padding-top: 4rem;
} 

.pt7 { 
	padding-top: 4.8rem;
} 

.pt8 { 
	padding-top: 5.6rem;
} 

.pt9 { 
	padding-top: 6.4rem;
} 

.pt10 { 
	padding-top: 7.2rem;
} 

.pr0 { 
	padding-right: 0rem;
} 

.pr1 { 
	padding-right: 0.4rem;
} 

.pr2 { 
	padding-right: 0.8rem;
} 

.pr3 { 
	padding-right: 1.6rem;
} 

.pr4 { 
	padding-right: 2.4rem;
} 

.pr5 { 
	padding-right: 3.2rem;
} 

.pr6 { 
	padding-right: 4rem;
} 

.pr7 { 
	padding-right: 4.8rem;
} 

.pr8 { 
	padding-right: 5.6rem;
} 

.pr9 { 
	padding-right: 6.4rem;
} 

.pr10 { 
	padding-right: 7.2rem;
} 

.pb0 { 
	padding-bottom: 0rem;
} 

.pb1 { 
	padding-bottom: 0.4rem;
} 

.pb2 { 
	padding-bottom: 0.8rem;
} 

.pb3 { 
	padding-bottom: 1.6rem;
} 

.pb4 { 
	padding-bottom: 2.4rem;
} 

.pb5 { 
	padding-bottom: 3.2rem;
} 

.pb6 { 
	padding-bottom: 4rem;
} 

.pb7 { 
	padding-bottom: 4.8rem;
} 

.pb8 { 
	padding-bottom: 5.6rem;
} 

.pb9 { 
	padding-bottom: 6.4rem;
} 

.pb10 { 
	padding-bottom: 7.2rem;
} 

.pl0 { 
	padding-left: 0rem;
} 

.pl1 { 
	padding-left: 0.4rem;
} 

.pl2 { 
	padding-left: 0.8rem;
} 

.pl3 { 
	padding-left: 1.6rem;
} 

.pl4 { 
	padding-left: 2.4rem;
} 

.pl5 { 
	padding-left: 3.2rem;
} 

.pl6 { 
	padding-left: 4rem;
} 

.pl7 { 
	padding-left: 4.8rem;
} 

.pl8 { 
	padding-left: 5.6rem;
} 

.pl9 { 
	padding-left: 6.4rem;
} 

.pl10 { 
	padding-left: 7.2rem;
} 

