// Brand and style colors

color-background =              #FFFFFF
color-text =                    #000000

// Fonts

typeface-primary =              GaramondNo4TLig, Garamond, Georgia, serif
typeface-primary-italic =       GaramondNo4TLig_Italic, Garamond, Georgia, serif
typeface-secondary =            CircularStdBook, Arial, sans-serif

// Breakpoint (matches flexboxgrid)

phone =                         "(min-width: 30em)"
tablet =                        "(min-width: 48em)"
laptop =                        "(min-width: 62em)"
desktop =                       "(min-width: 75em)"
bigscreen =                     "(min-width: 90em)"
