/*html {
  font-size: 13px;
}
@media (min-width: 375px) {
  html {
    font-size: 15px;
  }
}*/
/*form {
  margin: 6vw;
  max-width: 400px;
}
@media (min-width: 375px) {
  form {
    margin: 8vw;
  }
}
@media (min-width: 1024px) {
  form {
    margin: 10%;
  }
}*/
hr {
  display: none;
}
input:focus {
  border-color: black;
  outline: none;
}
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: transparent !important;
  background-color: transparent !important;
}
input.InputGiftAmount {
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  padding: 0px 0 20px 25px;
  font-size: 45px;
  font-family:'GTSectraDisplayLight', Times, Georgia, serif;
}
@media (min-width: 1024px) {
  input.InputGiftAmount {
    padding-left: 45px;
    font-size: 72px;
  }
}
.GiftAmount {
  position: relative;
}
.GiftAmount:before {
  content: "$";
  position: absolute;
  top: .2em;
  left: -3px;
  font-size: 45px;
  line-height: 125%;
  font-family: "GTSectraDisplayLight", Times, Georgia, serif;
}
@media (min-width: 62em) {
  .GiftAmount:before {
    font-size: 72px;
  }
}
input.InputText {
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 15px 0 5px 0;
  font-family: "GTSectraBook", Times, Georgia, serif;
  background: transparent;
  transition: all 200ms ease-out;
  outline: none;
  height: 45px;
  z-index: 10;
  position: relative;
}
.FormItem {
  display: inline-block;
  position: relative;
  margin: 0;
  /*height: 45px;*/
  margin-bottom: 15px;
  width: 100%;
}
.FormItem label.Caption {
  position: absolute;
  top: 25px;
  left: 0px;
  color:  black;
  transition: .1s all linear;
  cursor: text;
  text-transform: uppercase;
  z-index: 10;
}
label.error {
  position: relative;
  color: #ED5654;
  top: 10px;
  line-height: 120%;
  margin-bottom: 15px;
  display: block;
}
.FormItem.active input {
  padding-left: 0px;
}

.FormItem.active label.Caption {
  top: 0px;
  font-size: 11px;
  opacity: .5;
}
.FormItem.Expiration {
  width: calc(50% - 10px);
}
.FormItem.Expiration.Month {
  margin-right: 15px;
}
.ShippingPreference {
  display: block;
  overflow: auto;
  margin-top: -10px;
}
.ShippingPreference ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.ShippingPreference ul li{
  color: black;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
/*  border-bottom: 1px solid #ccc;
*/  margin-bottom: 0;
}
.ShippingPreference ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.ShippingPreference ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  padding: 30px 10px 10px 40px;
  height: 70px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
}
.ShippingPreference ul li:hover label{
  color: black;
}
.ShippingPreference ul li .check{
  display: block;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 25px;
  left: 0px;
  z-index: 5;
  transition: border 200ms linear;
  -webkit-transition: border 300ms linear;
}
.ShippingPreference ul li:hover .check {
  border: 10px solid black;
}
/*.ShippingPreference ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 60%;
  width: 60%;
  top: 21%;
  left: 21.5%;
  margin: auto;
  transition: background 200ms linear;
  -webkit-transition: background 200ms linear;
}*/
input[type=radio]:checked ~ .check {
  border: 10px solid black;
}
input[type=radio]:checked ~ .check::before{
  background: black;
}
input[type=radio]:checked ~ label{
  color: black;
}
.FormItem .StateLabel {
  top: 10;
  position: absolute;
  opacity: 0;
  font-size: 11px;
  transition: all 200ms ease-out;
}
.FormItem .StateLabel.Active {
  opacity: .5;
  top: 0;
}
.StateSelector {
  height: 45px;
  display: block;
}
.StateSelector select{
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  -webkit-appearance:none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: 20px;
  outline: none;
}
.StateSelector select.Default {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "ApercuMono", Andale Mono, monospaced;
}
.StateSelector select.Active {
  opacity: 1;
  height: auto;
}
.StateSelector label.error {
  top: 30px;
}
.FormErrorsCont {
  height: 0px;
  transition: all 200ms ease-out;
}
.FormErrorsCont.Active {
  height: 90px;
}
.FormErrors {
  opacity: 0;
  background: white;
  border: 1px solid #ED5654;
  padding: 16px;
  color: #ED5654;
  border-radius: 4px;
  box-shadow: 0px 0px 18px 0px rgba(255,255,255,1);
  transition: all 200ms ease-out;
  transition-delay: 100ms;
  transform: translateY(10px);
}
.FormErrors.Active{
  transform: translateY(0px);
  opacity: 1;
}
.SubmitButton {
  background: black;
  padding: 20px 50px;
  border: none;
  color: white;
  display: block;
  text-align: center;
  border-radius: 1000px;
  /*border: 1px solid #000;
  box-shadow: 5px 5px 0px 0px #000;*/
  position: relative;
  outline: none;
  font-family: "GTSectraBook", Times, Georgia, serif;
  font-size: 20px;
  transition: all 200ms ease-out;
  transform: scale(1);
  height: 60px;
  width: 215px;
}
.SubmitButton:hover {
  transform: scale(1.05);
  box-shadow: 0 19px 38px rgba(0,0,0,0.1), 0 15px 12px rgba(0,0,0,0.1);
}
.SubmitButton span {
  position: relative;
  left: 0;
  transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  position: absolute;
  left: 70px;
  top: 20px;
  text-align: center;
}
.SubmitButton span.Loading {
  top: 60px;
  opacity: 0;
}
.SubmitButton span.Complete {
  top: 60px;
  opacity: 0;
}
.SubmitButton.Loading span.Purchase {
  top: -30px;
  opacity: 0;
}
.SubmitButton.Loading span.Loading {
  top: 20px;
  opacity: 1;
}
.SubmitButton.Complete span.Purchase, .SubmitButton.Complete span.Loading {
  top: -30px;
  opacity: 0;
}
.SubmitButton.Complete span.Complete {
  top: 20px;
  opacity: 1;
}
.SubmitButton.Complete {
  background: #86c716;
}
.SubmitButton.Loading{
  background: #10b2e8;
}
.CompleteCheck {
  height: 20px;
  width: 20px;
  transform: scale(.1);
  position: absolute;
  top: 20px;
  left: 23px;
  background: url(/_img/check.svg);
  background-size: cover;
  transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-delay: 0ms;
  opacity: 0;
}
.SubmitButton.Complete .CompleteCheck {
  opacity: 1;
  transform: scale(1);
}
.LoadingSpinnerCont {
  opacity: 1;
  height: 20px;
  width: 20px;
  transform: scale(.1);
  position: absolute;
  top: 20px;
  left: 23px;
  transition: all 600ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-delay: 0ms;
  opacity: 0;
}
.SubmitButton.Loading .LoadingSpinnerCont {
  opacity: 1;
  transform: scale(1);
}
.SubmitButton.Complete .LoadingSpinnerCont {
  opacity: 0;
  transform: scale(.5);
}
.LoadingSpinner {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  transition: all 200ms ease-out;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}


@keyframes rotate-forever {
  0%    { transform: rotate(0deg) scale(1)}
  100%  { transform: rotate(360deg) scale(1) }
}
